<!DOCTYPE html>
<html lang="en" translate="no">
<head >
  <meta charset="UTF-8" >
  <meta name="google" content="notranslate">
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <title >商品管理系统</title >
  <link rel="icon" href="./favicon.ico" >
  <link rel="dns-prefetch" href="//at.alicdn.com" />
  <style >
    @font-face {
      font-family: 'IDAutomationC128S';
      src: url('./static/printFont/IDAutomationC128S.eot'); /* IE9 Compat Modes */
      src: url('./static/printFont/IDAutomationC128S.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./static/printFont/IDAutomationC128S.woff') format('woff'), /* Modern Browsers */ url('./static/printFont/IDAutomationC128S.ttf') format('truetype'), /* Safari, Android, iOS */ url('./static/printFont/IDAutomationC128S.svg#IDAutomationC128S') format('svg'); /* Legacy iOS */
    }
  </style >
</head >
<body >
<!-- APP 为template挂载节点 -->
<div id="app" >
  <!-- router-view 是vue-router自定义组件，简单理解为挂载的详细内容 -->
  <router-view ></router-view >
</div >
</body >
</html >
