<!DOCTYPE html>
<html lang="en" translate="no">
<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate">
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <title>LAPA-设置中心</title>
  <link rel="dns-prefetch" href="//at.alicdn.com" />
  <!-- <link rel="shortcut icon" href="./static/images/favicon.ico" /> -->
  <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico" />
  <!-- <link rel="stylesheet" type="text/css" href="./static/css/alifont.css" /> -->
  <!-- <link rel="stylesheet" href="./static/css/global.css" /> -->
  <!-- <link rel="stylesheet" href="./static/css/generalSettings.css" /> -->
  <script type="text/javascript" src="./static/js/vendor.dll.js"></script>
</head>
<body>
  <!-- APP 为template挂载节点 -->
  <div id="app" style="height: 900px">
    <!-- router-view 是vue-router自定义组件，简单理解为挂载的详细内容 -->
    <router-view></router-view>
  </div>
</body>

</html>