.ivu-select-selection .ivu-tag {
  height: auto !important;
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden
}


.ivu-input-tagsCls {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  padding: 0 24px 0 4px;
  min-height: 32px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdee2;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.ivu-input-tagsCls .ivu-input-arrow:nth-of-type(1) {
  display: none;
  cursor: pointer
}

.ivu-input-tagsCls:hover {
  border-color: #57a3f3
}

.ivu-input-tagsCls:hover .ivu-input-arrow:nth-of-type(1) {
  display: inline-block
}

.ivu-input-input {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 24px 0 8px;
  font-size: 12px;
  outline: 0;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #515a6e;
  background-color: transparent;
  position: relative;
  cursor: pointer
}

.ivu-input-input::-moz-placeholder {
  color: #c5c8ce;
  opacity: 1
}

.ivu-input-input:-ms-input-placeholder {
  color: #c5c8ce
}

.ivu-input-input::-webkit-input-placeholder {
  color: #c5c8ce
}

.ivu-input-input[disabled] {
  cursor: not-allowed;
  color: #ccc
}

.ivu-input-group .ivu-input {
  width: 100%;
  float: left;
  margin-bottom: 0;
  position: relative;
  z-index: 2
}

.ivu-input-group-append,
.ivu-input-group-prepend {
  padding: 4px 7px;
  font-size: inherit;
  font-weight: 400;
  line-height: 1;
  color: #515a6e;
  text-align: center;
  background-color: #f8f8f9;
  border: 1px solid #dcdee2;
  border-radius: 4px
}

.ivu-input-group-append .ivu-select,
.ivu-input-group-prepend .ivu-select {
  margin: -5px -7px
}

.ivu-input-group-append .ivu-select-selection,
.ivu-input-group-prepend .ivu-select-selection {
  background-color: inherit;
  margin: -1px;
  border: 1px solid transparent
}

.ivu-input-group-append .ivu-select-visible .ivu-select-selection,
.ivu-input-group-prepend .ivu-select-visible .ivu-select-selection {
  -webkit-box-shadow: none;
  box-shadow: none
}

.ivu-input-group-prepend,
.ivu-input-group>.ivu-input:first-child,
.ivu-input-group>span>.ivu-input:first-child {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important
}

.ivu-input-group-prepend .ivu--select .ivu--select-selection,
.ivu-input-group>.ivu-input:first-child .ivu--select .ivu--select-selection,
.ivu-input-group>span>.ivu-input:first-child .ivu--select .ivu--select-selection {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0
}

.ivu-input-group-prepend {
  border-right: 0
}

.ivu-input-group-append {
  border-left: 0
}

.ivu-input-group-append,
.ivu-input-group>.ivu-input:last-child {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important
}

.ivu-input-group-append .ivu--select .ivu--select-selection,
.ivu-input-group>.ivu-input:last-child .ivu--select .ivu--select-selection {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}

.ivu-input-group-large .ivu-input,
.ivu-input-group-large>.ivu-input-group-append,
.ivu-input-group-large>.ivu-input-group-prepend {
  font-size: 14px;
  padding: 6px 7px;
  height: 36px
}

.ivu-input-group-small .ivu-input,
.ivu-input-group-small>.ivu-input-group-append,
.ivu-input-group-small>.ivu-input-group-prepend {
  padding: 1px 7px;
  height: 24px;
  border-radius: 3px
}

.ivu-form-item-error .ivu-input {
  border: 1px solid #ed4014
}

.ivu-form-item-error .ivu-input:hover {
  border-color: #ed4014
}

.ivu-form-item-error .ivu-input:focus {
  border-color: #ed4014;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(237, 64, 20, .2);
  box-shadow: 0 0 0 2px rgba(237, 64, 20, .2)
}

.ivu-form-item-error .ivu-input-icon {
  color: #ed4014
}

.ivu-form-item-error .ivu-input-group-append,
.ivu-form-item-error .ivu-input-group-prepend {
  background-color: #fff;
  border: 1px solid #ed4014
}

.ivu-form-item-error .ivu-input-group-append .ivu-select-selection,
.ivu-form-item-error .ivu-input-group-prepend .ivu-select-selection {
  background-color: inherit;
  border: 1px solid transparent
}

.ivu-form-item-error .ivu-input-group-prepend {
  border-right: 0
}

.ivu-form-item-error .ivu-input-group-append {
  border-left: 0
}

.ivu-form-item-error .ivu-transfer .ivu-input {
  display: inline-block;
  width: 100%;
  height: 32px;
  line-height: 1.5;
  padding: 4px 7px;
  font-size: 12px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  color: #515a6e;
  background-color: #fff;
  background-image: none;
  position: relative;
  cursor: text;
  -webkit-transition: border .2s ease-in-out, background .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: border .2s ease-in-out, background .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
  transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out
}

.ivu-form-item-error .ivu-transfer .ivu-input::-moz-placeholder {
  color: #c5c8ce;
  opacity: 1
}

.ivu-form-item-error .ivu-transfer .ivu-input:-ms-input-placeholder {
  color: #c5c8ce
}

.ivu-form-item-error .ivu-transfer .ivu-input::-webkit-input-placeholder {
  color: #c5c8ce
}

.ivu-form-item-error .ivu-transfer .ivu-input:hover {
  border-color: #57a3f3
}

.ivu-form-item-error .ivu-transfer .ivu-input:focus {
  border-color: #57a3f3;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(45, 140, 240, .2);
  box-shadow: 0 0 0 2px rgba(45, 140, 240, .2)
}

.ivu-form-item-error .ivu-transfer .ivu-input[disabled],
fieldset[disabled] .ivu-form-item-error .ivu-transfer .ivu-input {
  background-color: #f3f3f3;
  opacity: 1;
  cursor: not-allowed;
  color: #ccc
}

.ivu-form-item-error .ivu-transfer .ivu-input[disabled]:hover,
fieldset[disabled] .ivu-form-item-error .ivu-transfer .ivu-input:hover {
  border-color: #e3e5e8
}

textarea.ivu-form-item-error .ivu-transfer .ivu-input {
  max-width: 100%;
  height: auto;
  min-height: 32px;
  vertical-align: bottom;
  font-size: 14px
}

.ivu-form-item-error .ivu-transfer .ivu-input-large {
  font-size: 14px;
  padding: 6px 7px;
  height: 36px
}

.ivu-form-item-error .ivu-transfer .ivu-input-small {
  padding: 1px 7px;
  height: 24px;
  border-radius: 3px
}

.ivu-form-item-error .ivu-transfer .ivu-input-icon {
  color: #808695
}

.ivu-form-item-validating .ivu-input-icon-validate {
  display: inline-block
}

.ivu-form-item-validating .ivu-input-icon+.ivu-input {
  padding-right: 32px
}

.ivu-slider {
  line-height: normal
}

.ivu-slider-wrap {
  width: 100%;
  height: 4px;
  margin: 16px 0;
  background-color: #e8eaec;
  border-radius: 3px;
  vertical-align: middle;
  position: relative;
  cursor: pointer
}

.ivu-slider-button-wrap {
  width: 18px;
  height: 18px;
  text-align: center;
  background-color: transparent;
  position: absolute;
  top: -4px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

.ivu-slider-button-wrap .ivu-tooltip {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.ivu-slider-button {
  width: 12px;
  height: 12px;
  border: 2px solid #57a3f3;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  outline: 0
}

.ivu-slider-button-dragging,
.ivu-slider-button:focus,
.ivu-slider-button:hover {
  border-color: #2d8cf0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5)
}

.ivu-slider-button:hover {
  cursor: -webkit-grab;
  cursor: grab
}

.ivu-slider-button-dragging,
.ivu-slider-button-dragging:hover {
  cursor: -webkit-grabbing;
  cursor: grabbing
}

.ivu-slider-bar {
  height: 4px;
  background: #57a3f3;
  border-radius: 3px;
  position: absolute
}

.ivu-slider-stop {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ccc;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}


.ivu-table-fixed-header-with-empty .ivu-table-hidden .ivu-table-sort {
  display: none
}

.ivu-table-fixed-header-with-empty .ivu-table-hidden .ivu-table-cell span {
  display: none
}

.ivu-table-column-resize-proxy {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 1px solid #ebeef5;
  z-index: 10
}

.tableGrayBg td {
  background-color: #f5f5f5
}

.noneBoxShadow {
  -webkit-box-shadow: 0 0 !important;
  box-shadow: 0 0 !important
}

.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab .ivu-icon-ios-close {
  width: 0;
  height: 22px;
  font-size: 22px;
  margin-right: 0;
  color: #999;
  text-align: right;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  top: -1px;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab .ivu-icon-ios-close:hover {
  color: #444
}

.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab-active .ivu-icon-ios-close,
.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab:hover .ivu-icon-ios-close {
  width: 22px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin-right: -6px
}

.ivu-tabs-no-animation>.ivu-tabs-content {
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important
}

.ivu-tabs-no-animation>.ivu-tabs-content>.ivu-tabs-tabpane-inactive {
  display: none
}

.ivu-menu {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  color: #515a6e;
  font-size: 14px;
  position: relative;
  z-index: 900
}

.ivu-menu-horizontal.ivu-menu-light:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #dcdee2;
  position: absolute;
  bottom: 0;
  left: 0
}

.ivu-menu-vertical.ivu-menu-light:after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background: #dcdee2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1
}

.ivu-menu-light {
  background: #fff
}

.ivu-menu-dark {
  background: #515a6e
}

.ivu-menu-primary {
  background: #2d8cf0
}

.ivu-menu-item {
  display: block;
  outline: 0;
  list-style: none;
  font-size: 14px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

a.ivu-menu-item {
  color: inherit
}

a.ivu-menu-item:active,
a.ivu-menu-item:hover {
  color: inherit
}

.ivu-menu-item>i {
  margin-right: 6px
}

.ivu-menu-submenu-title span>i,
.ivu-menu-submenu-title>i {
  margin-right: 8px
}

.ivu-menu-horizontal .ivu-menu-item,
.ivu-menu-horizontal .ivu-menu-submenu {
  float: left;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  white-space: nowrap !important
}

.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu {
  height: inherit;
  line-height: inherit;
  border-bottom: 2px solid transparent;
  color: #515a6e
}

.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover {
  color: #2d8cf0;
  border-bottom: 2px solid #2d8cf0
}

.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item,
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu {
  color: rgba(255, 255, 255, .7)
}

.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item-active,
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item:hover,
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu-active,
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu:hover {
  color: #fff
}

.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item,
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-submenu {
  color: #fff
}

.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item-active,
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item:hover,
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-submenu-active,
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-submenu:hover {
  background: #2b85e4
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown {
  min-width: 100%;
  width: auto;
  max-height: none
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item {
  margin: 0;
  line-height: normal;
  padding: 7px 16px;
  clear: both;
  color: #515a6e;
  font-size: 12px !important;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item:hover {
  background: #f3f3f3
}


.ivu-menu-item-group {
  line-height: normal
}

.ivu-menu-item-group-title {
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  font-size: 12px;
  color: #999
}

.ivu-menu-item-group>ul {
  padding: 0 !important;
  list-style: none !important
}


.ivu-menu-vertical .ivu-menu-item:hover,
.ivu-menu-vertical .ivu-menu-submenu-title:hover {
  color: #2d8cf0
}

.ivu-menu-vertical .ivu-menu-submenu-title-icon {
  float: right;
  position: relative;
  top: 12px !important;
  right: 0px !important;
}


.ivu-menu-submenu-title-icon {
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

.ivu-menu-opened>*>.ivu-menu-submenu-title-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.ivu-menu-vertical .ivu-menu-submenu-nested {
  padding-left: 20px
}

.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item {
  padding-left: 43px
}

.ivu-menu-vertical .ivu-menu-item-group-title {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  padding-left: 28px
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-group-title {
  color: rgba(255, 255, 255, .36)
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  color: #2d8cf0;
  background: #f0faff;
  z-index: 2
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after {
  content: '';
  display: block;
  width: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #2d8cf0
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title {
  color: rgba(255, 255, 255, .7)
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu),
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):hover,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu),
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu):hover {
  background: #363e4f
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover {
  color: #fff;
  background: #515a6e
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu),
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu) {
  color: #2d8cf0
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item:hover {
  color: #fff;
  background: 0 0 !important
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
  border-right: none;
  color: #fff;
  background: #2d8cf0 !important
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-child-item-active>.ivu-menu-submenu-title {
  color: #fff
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened {
  background: #363e4f
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
  background: #515a6e
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-has-parent-submenu .ivu-menu-submenu-title {
  background: 0 0
}

.ivu-menu-dropdown {
  overflow: initial
}

.ivu-menu-dropdown li {
  list-style: none
}

.ivu-menu-around {
  position: relative
}

.ivu-menu-around li {
  line-height: normal
}

.ivu-menu-around-submenu-title {
  font-size: 14px !important;
  color: #515a6e
}

.ivu-menu-around-submenu-title-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -5px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  font-size: 12px;
  z-index: 9999
}

.ivu-menu-around-opened .ivu-menu-around-submenu-title-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.ivu-menu-around-opened .ivu-menu-around-submenu-title {
  background: #f3f3f3
}

.ivu-menu-around-menu-group {
  display: none;
  padding: 0 10px;
  z-index: 9999
}

.ivu-menu-around-menu-group-wrap {
  margin: 5px 0;
  padding: 5px 0;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  min-width: 120px
}

.ivu-menu-around-opened .ivu-menu-around-menu-group {
  display: block
}

.ivu-btns {
  position: absolute;
  right: -12px;
  top: 0;
  height: 31px;
  width: 18px;
  border-radius: 0 4px 4px 0;
  cursor: pointer
}

.ivu-btns-default {
  border-left: 1px solid #e6e5e5;
  background-color: #f6f6f6;
  border: 1px solid #dddee1
}

.ivu-btns-disabled {
  border-left: 1px solid #e6e5e5;
  background-color: #f6f6f6;
  border: 1px solid #dddee1
}

.ivu-btns-primary {
  background-color: #2d8cf0;
  border-left: 1px solid #3fa4f1
}

.ivu-btns .arrowDown {
  color: #fff;
  font-size: 10px
}

.ivu-btns-default .arrowDown,
.ivu-btns-disabled .arrowDown {
  color: #666
}

.ivu-btns-hover,
.ivu-btns:hover {
  background-color: #dddee1
}

.ivu-btns-default:hover,
.ivu-btns-disabled:hover {
  border: 1px solid #dddee1
}

.ivu-btns-primary .ivu-btns-hover,
.ivu-btns-primary:hover {
  background-color: #57a3f3 !important
}

.ivu-dropdown-item {
  margin: 0;
  line-height: normal;
  padding: 7px 16px;
  clear: both;
  color: #515a6e;
  font-size: 12px !important;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out
}

.ivu-dropdown-item:hover {
  background: #f3f3f3
}

.ivu-dropdown-item-focus {
  background: #f3f3f3
}

.ivu-dropdown-item-disabled {
  color: #c5c8ce;
  cursor: not-allowed
}

.ivu-dropdown-item-disabled:hover {
  color: #c5c8ce;
  background-color: #fff;
  cursor: not-allowed
}

.ivu-dropdown-item-selected,
.ivu-dropdown-item-selected:hover {
  color: #2d8cf0
}

.ivu-dropdown-item-divided {
  margin-top: 5px;
  border-top: 1px solid #e8eaec
}

.ivu-dropdown-item-divided:before {
  content: '';
  height: 5px;
  display: block;
  margin: 0 -16px;
  background-color: #fff;
  position: relative;
  top: -7px
}

.ivu-dropdown-large .ivu-dropdown-item {
  padding: 7px 16px 8px;
  font-size: 14px !important
}

@-moz-document url-prefix() {
  .ivu-dropdown-item {
    white-space: normal
  }
}

.ivu-treeSelect {
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  color: #515a6e;
  font-size: 14px;
  line-height: normal
}

.ivu-treeSelect-container {
  margin: 5px
}

.ivu-treeSelect-selection {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdee2;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.ivu-treeSelect-selection .ivu-treeSelect-arrow:nth-of-type(1) {
  display: none;
  cursor: pointer
}

.ivu-treeSelect-selection:hover {
  border-color: #57a3f3
}

.ivu-treeSelect-selection:hover .ivu-treeSelect-arrow:nth-of-type(1) {
  display: inline-block
}

.ivu-treeSelect-show-clear .ivu-treeSelect-selection:hover .ivu-treeSelect-arrow:nth-of-type(2) {
  display: none
}

.ivu-treeSelect-arrow {
  position: absolute;
  top: 50%;
  right: 8px;
  line-height: 1;
  margin-top: -7px;
  font-size: 14px;
  color: #808695;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.ivu-treeSelect-visible .ivu-treeSelect-selection {
  border-color: #57a3f3;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(45, 140, 240, .2);
  box-shadow: 0 0 0 2px rgba(45, 140, 240, .2)
}

.ivu-treeSelect-visible .ivu-treeSelect-arrow:nth-of-type(2) {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.ivu-treeSelect-disabled .ivu-treeSelect-selection {
  background-color: #f3f3f3;
  opacity: 1;
  cursor: not-allowed;
  color: #ccc
}

.ivu-treeSelect-disabled .ivu-treeSelect-selection:hover {
  border-color: #e3e5e8
}

.ivu-treeSelect-disabled .ivu-treeSelect-selection .ivu-treeSelect-arrow:nth-of-type(1) {
  display: none
}

.ivu-treeSelect-disabled .ivu-treeSelect-selection:hover {
  border-color: #dcdee2;
  -webkit-box-shadow: none;
  box-shadow: none
}

.ivu-treeSelect-disabled .ivu-treeSelect-selection:hover .ivu-treeSelect-arrow:nth-of-type(2) {
  display: inline-block
}

.ivu-treeSelect-single .ivu-treeSelect-selection {
  height: 32px;
  position: relative
}

.ivu-treeSelect-single .ivu-treeSelect-selection .ivu-treeSelect-placeholder {
  color: #c5c8ce
}

.ivu-treeSelect-single .ivu-treeSelect-selection .ivu-treeSelect-placeholder,
.ivu-treeSelect-single .ivu-treeSelect-selection .ivu-treeSelect-selected-value {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 24px
}

.ivu-treeSelect-large.ivu-treeSelect-single .ivu-treeSelect-selection {
  height: 36px
}

.ivu-treeSelect-large.ivu-treeSelect-single .ivu-treeSelect-selection .ivu-treeSelect-placeholder,
.ivu-treeSelect-large.ivu-treeSelect-single .ivu-treeSelect-selection .ivu-treeSelect-selected-value {
  height: 34px;
  line-height: 34px;
  font-size: 14px
}

.ivu-treeSelect-small.ivu-treeSelect-single .ivu-treeSelect-selection {
  height: 24px;
  border-radius: 3px
}

.ivu-treeSelect-small.ivu-treeSelect-single .ivu-treeSelect-selection .ivu-treeSelect-placeholder,
.ivu-treeSelect-small.ivu-treeSelect-single .ivu-treeSelect-selection .ivu-treeSelect-selected-value {
  height: 22px;
  line-height: 22px
}

.ivu-treeSelect-showCheckbox .ivu-treeSelect-selection {
  padding: 0 24px 0 4px;
  min-height: 32px !important;
  height: auto
}

.ivu-treeSelect-showCheckbox .ivu-treeSelect-selection .ivu-treeSelect-placeholder {
  display: block;
  height: 30px;
  line-height: 30px;
  color: #c5c8ce;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 4px;
  padding-right: 22px
}

.ivu-treeSelect-input {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 24px 0 8px;
  font-size: 12px;
  outline: 0;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #515a6e;
  background-color: transparent;
  position: relative;
  cursor: pointer
}

.ivu-treeSelect-input::-moz-placeholder {
  color: #c5c8ce;
  opacity: 1
}

.ivu-treeSelect-input:-ms-input-placeholder {
  color: #c5c8ce
}

.ivu-treeSelect-input::-webkit-input-placeholder {
  color: #c5c8ce
}

.ivu-treeSelect-input[disabled] {
  cursor: not-allowed;
  color: #ccc
}

.ivu-treeSelect-single .ivu-treeSelect-input {
  width: 100%
}

.ivu-treeSelect-large .ivu-treeSelect-input {
  font-size: 14px;
  height: 36px
}

.ivu-treeSelect-small .ivu-treeSelect-input {
  height: 22px;
  line-height: 22px
}

.ivu-treeSelect-showCheckbox .ivu-treeSelect-input {
  height: 29px;
  line-height: 32px;
  padding: 0 0 0 4px
}

.ivu-treeSelect-not-found {
  text-align: center;
  color: #c5c8ce
}

.ivu-treeSelect-not-found li:not([class^=ivu-]) {
  margin-bottom: 0
}

.ivu-treeSelect-loading {
  text-align: center;
  color: #c5c8ce
}

.ivu-treeSelect-showCheckbox .ivu-tag {
  margin: 3px 4px 2px 0
}

.ivu-treeSelect-dropdown {
  width: inherit;
  max-height: 200px;
  overflow: auto;
  margin: 5px 0;
  padding: 5px 0;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  position: absolute;
  z-index: 900
}

.ivu-treeSelect-dropdown-transfer {
  z-index: 1060
}

.ivu-treeSelect-dropdown.ivu-transfer-no-max-height {
  max-height: none
}

.ivu-modal .ivu-select-dropdown {
  position: absolute !important
}

.ivu-treeSelect-item {
  margin: 0;
  line-height: normal;
  padding: 7px 16px;
  clear: both;
  color: #515a6e;
  font-size: 12px !important;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out
}

.ivu-treeSelect-item:hover {
  background: #f3f3f3
}

.ivu-treeSelect-item-focus {
  background: #f3f3f3
}

.ivu-treeSelect-item-disabled {
  color: #c5c8ce;
  cursor: not-allowed
}

.ivu-treeSelect-item-disabled:hover {
  color: #c5c8ce;
  background-color: #fff;
  cursor: not-allowed
}

.ivu-treeSelect-item-selected,
.ivu-treeSelect-item-selected:hover {
  color: #2d8cf0
}

.ivu-treeSelect-item-divided {
  margin-top: 5px;
  border-top: 1px solid #e8eaec
}

.ivu-treeSelect-item-divided:before {
  content: '';
  height: 5px;
  display: block;
  margin: 0 -16px;
  background-color: #fff;
  position: relative;
  top: -7px
}

.ivu-treeSelect-large .ivu-treeSelect-item {
  padding: 7px 16px 8px;
  font-size: 14px !important
}

@-moz-document url-prefix() {
  .ivu-treeSelect-item {
    white-space: normal
  }
}

.ivu-treeSelect-showCheckbox .ivu-treeSelect-item-selected {
  color: rgba(45, 140, 240, .9);
  background: #fff
}

.ivu-treeSelect-showCheckbox .ivu-treeSelect-item-focus,
.ivu-treeSelect-showCheckbox .ivu-treeSelect-item-selected:hover {
  background: #f3f3f3
}

.ivu-treeSelect-showCheckbox .ivu-treeSelect-item-selected.ivu-treeSelect-showCheckbox .ivu-treeSelect-item-focus {
  color: rgba(40, 123, 211, .91);
  background: #fff
}

.ivu-treeSelect-showCheckbox .ivu-treeSelect-item-selected:after {
  display: inline-block;
  font-family: Ionicons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  float: right;
  font-size: 24px;
  content: '\F3FD';
  color: rgba(45, 140, 240, .9)
}

.ivu-treeSelect-group {
  list-style: none;
  margin: 0;
  padding: 0
}

.ivu-treeSelect-group-title {
  padding-left: 8px;
  font-size: 12px;
  color: #999;
  height: 30px;
  line-height: 30px
}

.ivu-form-item-error .ivu-treeSelect-selection {
  border: 1px solid #ed4014
}

.ivu-form-item-error .ivu-treeSelect-arrow {
  color: #ed4014
}

.ivu-form-item-error .ivu-treeSelect-visible .ivu-select-selection {
  border-color: #ed4014;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(237, 64, 20, .2);
  box-shadow: 0 0 0 2px rgba(237, 64, 20, .2)
}

.ivu-select-selection .ivu-tag {
  height: auto !important;
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden
}

.ivu-form .ivu-form-item-label {
  font-size: 12px;
}

.ivu-input,
.ivu-select-input,
.ivu-btn,
.ivu-table,
.ivu-checkbox-wrapper,
.ivu-modal-confirm-body {
  font-size: 12px;
}

