@font-face {
  font-family: "iconfont"; /* Project id 2037799 */
  src: url('iconfont.woff2?t=1715839323755') format('woff2'),
       url('iconfont.woff?t=1715839323755') format('woff'),
       url('iconfont.ttf?t=1715839323755') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconqueren:before {
  content: "\e63b";
}

.iconicon-close:before {
  content: "\e603";
}

.icontouping:before {
  content: "\e7de";
}

.iconjiangzhang:before {
  content: "\e6d1";
}

.icontuodong:before {
  content: "\e615";
}

.iconjinggao:before {
  content: "\e604";
}

.iconbaifenbi:before {
  content: "\e600";
}

.icondowns:before {
  content: "\e6ba";
}

.iconups:before {
  content: "\e693";
}

.iconup:before {
  content: "\e683";
}

.icondown:before {
  content: "\e682";
}

.iconzu3:before {
  content: "\e681";
}

.iconzu2:before {
  content: "\e680";
}

.iconzu1:before {
  content: "\e67f";
}

.iconzhexiantu:before {
  content: "\e623";
}

.iconquanping:before {
  content: "\e621";
}

.icon-zhuyi:before {
  content: "\e6b9";
}

.iconxiangzuo:before {
  content: "\e6b0";
}

.iconshaixuan:before {
  content: "\e620";
}

.iconhot:before {
  content: "\e61f";
}

.iconrili:before {
  content: "\e61e";
}

.iconclose:before {
  content: "\e61c";
}

.iconsearch:before {
  content: "\e61a";
}

.iconrefresh:before {
  content: "\e61b";
}

.icondel:before {
  content: "\e618";
}

.iconadd:before {
  content: "\e619";
}

.iconxia:before {
  content: "\e616";
}

.iconshang:before {
  content: "\e617";
}

