<!DOCTYPE html>
<html lang="en" >
<head >
  <meta charset="UTF-8" >
  <meta
      http-equiv="X-UA-Compatible" content="IE=9" />
  <link
      rel="icon" href="./favicon.ico" >
  <title >设置中心</title >
  <link
      rel="dns-prefetch" href="//at.alicdn.com" />
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>-->
  <style >
    @font-face {
      font-family: 'IDAutomationC128S';
      src: url('./static/printFont/IDAutomationC128S.eot'); /* IE9 Compat Modes */
      src: url('./static/printFont/IDAutomationC128S.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./static/printFont/IDAutomationC128S.woff') format('woff'), /* Modern Browsers */ url('./static/printFont/IDAutomationC128S.ttf') format('truetype'), /* Safari, Android, iOS */ url('./static/printFont/IDAutomationC128S.svg#IDAutomationC128S') format('svg'); /* Legacy iOS */
    }
  </style >
</head >
<body >
<div id="app" >
  <router-view ></router-view >
</div >
</body >
</html >
